@import "tailwindcss";

/* Root colors */
html.light {
  color: var(--text-light);
}

html.dark {
  color: var(--text-dark);
}

body {
  min-height: 100vh;
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background: radial-gradient(
    circle at top,
    #020617,
    #000000
  );
  color: var(--text-dark);
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* slate-400 */
  border-radius: 6px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #475569; /* slate-600 */
}
